@import "./variables";

.footer {
  background-color: $background-color-grey;
  padding: 120px 140px;

  .footerContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .footerSection {
      flex: 1;
      margin-right: 30px;

      h3 {
        font-size: 13px;
        font-weight: 400;
        color: #7a7a7b;
        margin-bottom: 32px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          color: #49494a;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 12px;
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: $text-color-dark;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    padding-top: 20px;
    padding-bottom: 20px;

    h6 {
      font-size: 20px;
      font-weight: 500;
    }

    .socialIcons {
      display: flex;
      font-size: 24px;
      gap: 12px;
    }
  }

  p {
    margin-top: 32px;
    font-size: 13px;
  }
}

/* Breakpoints */

/* Small Devices (sm: 640px and below) */
@media (max-width: 639px) {
  .footer {
    padding: 60px 20px;

    .footerContent {
      flex-direction: column;
      align-items: center;

      .footerSection {
        flex: 1;
        margin-right: 0;
        margin-bottom: 20px;

        h3 {
          text-align: center;
          font-size: 12px;
        }

        ul {
          li {
            font-size: 13px;
            text-align: center;
          }
        }
      }
    }

    .footerBottom {
      flex-direction: column;
      text-align: center;
      gap: 12px;

      h6 {
        font-size: 16px;
      }

      .socialIcons {
        font-size: 18px;
        gap: 10px;
      }
    }

    p {
      text-align: center;
      font-size: 12px;
      margin-top: 20px;
    }
  }
}

/* Medium Devices (md: 640px to 1023px) */
@media (max-width: 1023px) and (min-width: 640px) {
  .footer {
    padding: 80px 40px;

    .footerContent {
      flex-wrap: wrap;

      .footerSection {
        flex: 1 1 calc(50% - 30px);
        margin-bottom: 40px;

        h3 {
          font-size: 12px;
        }

        ul {
          li {
            font-size: 14px;
          }
        }
      }
    }

    .footerBottom {
      flex-wrap: wrap;
      gap: 20px;

      h6 {
        font-size: 18px;
      }

      .socialIcons {
        font-size: 20px;
      }
    }
  }
}
