@import "./variables";

.footer {
  background-color: #f1f1f1;
  padding: 40px 140px;
  font-family: "Roboto", sans-serif;

  .footerContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .footerSection {
      flex: 1;
      margin-right: 30px;

      h3 {
        font-size: 1.2rem;
        font-weight: bold;
        color: $text-color-dark;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          color: $text-color-dark;
          font-size: 0.9rem;
          margin-bottom: 8px;
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: $text-color-dark;
          }
        }
      }
    }
  }

  .footerBottom {
    text-align: center;
    border-top: 1px dashed #ccc;
    padding-top: 20px;
    font-size: 0.85rem;
    color: $text-color-dark;

    p {
      margin: 10px 0;
    }

    .socialIcons {
      margin: 10px 0;

      i {
        margin: 0 15px;
        font-size: 1.5rem;
        color: #555;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: $text-color-dark;
        }
      }
    }
  }

  // Responsive Design
  @media screen and (max-width: 768px) {
    padding: 20px;

    .footerContent {
      flex-direction: column;
      align-items: center;

      .footerSection {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    .footerBottom {
      font-size: 0.8rem;
    }
  }
}
