@import "./variables";

.footer {
  background-color: $background-color-grey;
  padding: 120px 140px;

  .footerContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .footerSection {
      flex: 1;
      margin-right: 30px;

      h3 {
        font-size: 13px;
        font-weight: 400;
        color: #7a7a7b;
        margin-bottom: 32px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          color: #49494a;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 12px;
          cursor: pointer;
          transition: color 0.3s;

          &:hover {
            color: $text-color-dark;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footerBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    padding-top: 20px;
    padding-bottom: 20px;

    h6 {
      font-size: 20px;
      font-weight: 500;
    }

    .socialIcons {
      display: flex;
      font-size: 24px;
      gap: 12px;
    }
  }

  p {
    margin-top: 32px;
    font-size: 13px;
  }
}
