* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Customize swiper-slider */
.swiper {
  padding-bottom: 60px !important;
}
.swiper-pagination-bullet {
  background-color: #9998e1 !important;
}
