@import "./variables";

.reviews {
  padding: 120px 0;

  .title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 0 200px;
    margin-bottom: 60px;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 24px;
  }

  .card {
    background-color: #ebeaf9;
    border: 2px solid #c2c1ed;
    border-radius: 13px;
    padding: 32px;

    .cardHeader {
      display: flex;
      justify-content: space-between;

      .cardQuote {
        color: #9998e1;
        font-size: 24px;
      }

      img {
        width: 52px;
        height: 52px;
        border-radius: 30px;
      }
      h5 {
        font-size: 16px;
        font-weight: 600;
        margin-top: 16px;
      }
    }
    p {
      margin-top: 24px;
    }
  }
}
